*{
    margin:0;
    padding:0;
    border:none;
}



body{
    background-color: black;
}

#wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

p, h1, h2, h3{
    margin-bottom: 1em;
}

header{
    padding:6em;
    padding-top: 1em;
    padding-left: 2em;
    color: #fff;
    /*background-color: black;
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: top right;*/
    background:  linear-gradient(88.78deg, #000000 17%, rgba(0, 0, 0, 0) 99.03%),
    url("images/banner.jpg") no-repeat top right/65%,
    black;
}

header p{
    width: 38%;
    text-align: center;
}

.button{
    border: solid 1px white;
    border-radius: 50px;
    padding: 13px;
    color:#fff;
    text-decoration: none;
    display: block;
    width: 4em;
    text-align: center;
}

.play{
    padding-left: 30px;
    background: url("images/playFigma.svg") no-repeat;
    background-position-x: 14px;
    background-position-y: center;
    background-size: 13px;

}

nav li{
    display: inline-block;
    /*padding-left: 2em;
    padding-right: 2em;
    border-right: solid 1px white;
    padding-top:0.5em;
    padding-bottom: 0.5em ;*/
    padding: 0.5em 2em;
}

nav li:hover{
    text-decoration: none;
    background-color: #4E0005;
}

nav{
    background-color: #880008;
    padding-left: 3em;
    margin-bottom: 2em;
}

nav a{
    color: white;
    text-decoration: none;
}

